<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="layout1.css">
    <link rel="stylesheet" href="/Slider/css/all.min.css">
    <link rel="stylesheet" href="/Slider/css/animate.min.css">
    <link rel="stylesheet" href="/Slider/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/Slider/css/owl.theme.default.min.css">
</head>
<body>
    <div class="navbar">
        <img src="img/logo.png" width="182px" height="40px" alt="">
        <div class="nav">
            <ul class="menu">
                <li><a href="#" style="color: #e65d06;">Demos</a>
                </li>
                <li><a href="#">product page</a>
                </li>
                <li><a href="#">Element</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="logo1">
        <div class="photo">
        <img src="img/bg_hero.jpg" width="100%" height="800px" alt="">
        </div>
        <div class="row">Leo Accessories - Multipurpose Elementor Prestashop Theme
        </div>
    </div>
    <div class="p"><B>18+</B></div> 
    <div class="text">Unique prebuilt demos</div>
    <div class="font">Aesthetically elegant homepages for handicraft stores</div>
    <div>
        <i class="fa-solid fa-house fa-spin-pulse fa-2xl" style="color: #ff0000;"></i>
    </div>
</body>
</html>