<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- css index -->
    <link rel="stylesheet" href="layout.css">
    <!-- custom css -->
    <link rel="stylesheet" href="/Slider/css/all.min.css">
    <link rel="stylesheet" href="/Slider/css/animate.min.css">
    <link rel="stylesheet" href="/Slider/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/Slider/css/owl.theme.default.min.css">
    <!-- font family -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@300;400&family=Poppins:ital,wght@0,100;0,300;0,500;1,200&family=Roboto:wght@300;400;700&family=Rubik+Bubbles&display=swap" rel="stylesheet">

</head>
<body>
    <!-- <header> -->
        <div class="container">
            <img src="img/5c6ef116eddf92775813c297_store-logo@2x.png" alt="">
        </div>
    <!-- </header> -->
</body>
</html>