<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <% result.forEach(function(res){%>
    <form method="post">
        <table>
            <tr>
                <td>Name</td>
                <td><input type="text" name="name" value="<%= res.name %>"></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><input type="email" name="email" value="<%= res.email %>"></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="password" name="password" value="<%= res.password %>"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" name="save" value="save"></td>
            </tr>
        </table>
    </form>
    <%})%>
</body>

</html>